<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SearchAmazonData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SearchAmazonData.Properties.Settings>
            <setting name="AwsAccessKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MyAwsSecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AssociateTag" serializeAs="String">
                <value />
            </setting>
        </SearchAmazonData.Properties.Settings>
    </userSettings>
</configuration>